# {{.Name}} 

## Metadata

| Identifier      | Version |
| ------- | ------- |
| {{.ID}} | {{.Version}} |

## Description

{{.Description}}

## Options
{{if not .Options}}No options available
{{else}}{{range $key, $option := .Options}}
### {{$key}}

* Type: `{{$option.Type}}`
* Default: `{{$option.Default}}`
* Description: {{$option.Description}}
{{- if $option.Proposals}}
* Proposals: {{range $index, $proposal := $option.Proposals}}{{if $index}}, {{end}}`{{$proposal}}`{{end}}
{{end}}{{end}}{{end}}

{{- if .PostCreateCommand}}
## Post Create Command

{{.PostCreateCommand}}
{{end}}

{{- if .InstallsAfter}}
## Installs After

{{range $installAfter := .InstallsAfter}}* {{$installAfter}}
{{end}}{{end}}

{{- if .Customizations}}
## Customizations

{{range $key, $value := .Customizations}}
### {{$key}}

{{if eq $key "vscode"}}* Extensions: {{range $index, $extension := index $value "extensions"}}{{if $index}}, {{end}}`{{$extension}}`{{end}}{{end}}
{{end}}{{end}}

